.container{
  margin: 0px auto 0 auto;
  border-radius: 10px;
  padding: 30px 40px 30px 40px;
  overflow: hidden;
  position: relative;

  input {
    width: 100%;
    height: 94px;
    font-size: 28px;
    outline:0;
    background-color:transparent;
    -webkit-appearance: none;
    overflow: hidden;
    padding: 0 0 0 20px;
    margin: 0;
    border: 0;
    float: left;
    text-align: left;
    color: #333;
  }

  .inpuWrapName {
    height: 80px;
    margin: 20px auto 0px auto;
    overflow: hidden;
    border-bottom: 1px solid #f8f8f8;
  }

  .inpuWrapCode{
    display: flex;
    align-items: center;
    height: 94px;
    margin: 20px 0 0 0;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #f8f8f8;

    input {
      width: 520px;
    }

    .queryWrap {

      .query {
        width: 130px;
        font-size: 24px;
        color:#ff783d;
        border-color:#ff783d;
      }
    }
  }

  .storeName {
    margin: 20px 10px;
    font-size: 30px;
    color:#1a1a1a;
  }

  .confirm {
    height: 94px;
    line-height: 94px;
    padding: 0;
    margin: 0 auto;
    font-size: 36px;
    color: #fff;
    background: #ff783d;
    text-align: center;
    margin-top: 165px;
    border-radius: 25Px;
    position: relative;

    &::after {
      border: none;
    }
  }

  .disable {
    pointer-events: none;
    cursor: default;
    background: #ffd6c4;
  }
}
